* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: 'Karla', sans-serif;
  background-color: #d5e9f6;
}

.layout {
  text-align: center;
}

.layout--item {
  padding: 10px;
  border: 1px solid #0B2434;
  border-radius: 5px;
  margin-right: 20px;
  color: #0B2434;
  text-decoration: none;
}

.home {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-item {
  max-width: 500px;

  color: #0b2434;
  /* font-weight: 600; */
  border: 1px solid #0b2434;
  border-radius: 5px;
  margin: 20px;
  padding: 25px;
}

.item--url {
  color: #0B2434;
  width: 100%;
}

.item--url:hover {
  color: #0B2434;
  text-decoration: underline;
}

.news--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news--button {
  display: inline-block;
  background-color: #0B2434;
  color: #fff;
  border: 1px solid #0B2434;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 600;
  font-family: "karla", sans-serif;
  margin: 10px;
  text-decoration: none;
}

/* Sign in page */

.sign-in {
  width: 100%;
  padding: 5%;
  margin: 0 auto;
  border: 1px solid #0B2434;
}

.sign--btn {
  background-color: #0B2434;
  color: #fff;
}